
.formMain {
  color: antiquewhite;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.inputLabel {
  background-color: rgb(85, 85, 85);
  border: 1px solid red;
  /* width: 50%; */
  height: auto;
  align-items: center;
  min-height: 50vh;
  margin-left: auto;
  margin-right: auto;
}

.inputForm {
  width: 90%;
}